*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #F2F2F3;
}

.container {
	width: 100%;
}

.left {
	float: left;
}

.w-3 {
	width: 3%;
	height: 636px;
}

.w-97 {
	width: 97%;
	height: 636px;
	background-color: #090808;
}

.side-img {
	background-image: url("Rectangle Yellow.svg");
	height: 636px;
	position: relative;
}

.side-img .b1,
.side-img .b2 {
	transform: rotate( -90deg );
	position: absolute;
	left: 5px;
}

.side-img .b1 {
	top: 0;
	transform-origin: 123px 120px;
}

.side-img .b2 {
	bottom: 0;
    transform-origin: -77px -82px;
    min-width: 100px;
}

.header {
	background-image: url(homebanner.png);
    background-repeat: no-repeat;
    background-position: right, bottom;
    background-size: auto;
    background-position-y: 100px;
    position: relative;
}

.content-box {
	position: absolute;
	top: 236px;
	left: 30px;
	width: 484px;
	height: 277px;
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-ffffff);
	text-align: left;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;
}

.content-box h1 {
	font-size: 56px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 10px;
}

.content-box p {
	font-size: 14px;
}

.tab {
	float: right;
	padding-top: 37px;
}

.tab li {
	width: 122px;
	height: 37px;
	color: #fff;
    display: inline-block;
    text-align: center;
}

.search-box {
	position: absolute;
	bottom: 30px;
	left: 30px;
	min-height: 50px;
}

.search-box ul {
	background-color: #fff;
	padding: 0;
	margin: 0;
}

.search-box li {
	display: inline-block;
	padding: 10px 15px;
}

.search-box li select {
	border: 0;
    background-color: #fff;
	font-size: 12px;
}

.search-box li select:focus {
	outline: none;
}

.search-box li:last-child {
	background-color: #A57C1F;
	padding: 20px;
	color: #fff;
    vertical-align: top;
}

.search-box li:last-child p {
	padding: 0;
}

.search-box p {
	margin: 0;
	font-size: 13px;
	padding-left: 3px;
}

.search-box-tab {
	display: flex;
}

.search-box-tab span {
	color: #000;
	padding: 10px;
	background-color: #C8A962;
}

.search-box-tab span:last-child {
	color: #fff;
	background-color: #A57C1F;
}

.area-box {
	padding: 30px 5%;
	display: flex;
	background-color: #F2F2F3;
}

.guide-box {
	min-height: 100px;
    width: 33%;
    position: relative;
    z-index: 1;
}

.area-box:after {
	content: "";
    background: #fff 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    right: 0;
    width: 975px;
    height: 40.5rem;
}

.guide-box img {
	margin: 0 auto;
	display: block;
}

.area-box .guide-box:nth-child(1) {
	margin-top: 10%;
}

.area-box .guide-box:nth-child(2) {
	margin-top: 5%;
}

.img-content {
	padding: 38px 47px 0px 42px;
	position: relative;
	margin-left: 45px;
}

.header-gu {
	position: absolute;
	left: 108px;
	font-size: 48px;
	z-index: 1;
}

.img-content:after {
	position: absolute;
	content: "";
	left: 0;
	top: 52%;
	height: 1px;
	width: 25px;
	background-color: #C8A962;
}

.img-content h2 {
	font-size: 18px;
}

.img-content p {
	font-size: 12px;
}

.about-us {
	display: flex;
	position: relative;
}

.about-us .about-box {
	width: 50%;
	float: left;
	background-color: #F2F2F3;
}

.about-box:nth-child(2) {
	padding: 95px 152px 203px 72px;
}

.about-box:nth-child(2) h2 {
	font-size: 48px;
	color: #090808;
	margin: 0;
	margin-bottom: 34px;
}

.about-box:nth-child(2) p {
	color: #777D84;
	font-size: 13px;
}

.about-us button {
	position: absolute;
	bottom: 68px;
	left: 50%;
	width: 144px;
	height: 60px;
	transform: translateX(-50%);
	padding: 22px 25px;
	background-color: #C8A962;
	color: #090808;
	font-size: 12px;
	border-color: #C8A962;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
}

.recently-added {
	padding-top: 109px;
	padding-left: 180px;
	float: left;
}

.recently-added .w-70 {
	width: 70%;
	padding-right: 20%;
}

.recently-added .w-70 h2 {
	font-size: 48px;
	margin: 0;
	margin-bottom: 10px;
	color: #090808;
}

.recently-added .w-70 p {
	font-size: 13px;
	color: #777D84;
}

.recently-added .w-30 {
	width: 30%;
}

button {
	width: 119px;
	transform: translateY(50px);
	height: 37px;
	padding: 10px;
	background-color: #C8A962;
	color: #090808;
	font-size: 12px;
	color: #fff;
	border-color: #C8A962;
}

.recently-added li {
	display: inline-block;
	width: 23%;
	background-color: #fff;
	margin-right: 10px;
}

.recently-added li .img {
	width: 100%;
}

.recently-added ul {
	float: left;
	padding: 0;
}

.data {
	padding: 30px 18px;
}

.data p {
	font-size: 12px;
	margin: 0;
	margin-bottom: 5px;
}

.ammount {
	font-size: 14px;
	font-weight: 600;
}

.testimonials {
	width: 1000px;
	height: 557px;
	float: left;
	position: relative;
	margin-top: 7%;
}

.testimonials h2 {
	font-size: 48px;
	text-align: center;
	color: #000000;
	margin-top: 0;
	margin-left: 25%;
}

.testimonials-sub {
	width: 775px;
	height: 503px;
	background-color: #090808;
	padding: 180px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.testimonials-sub p {
	font-size: 13px;
	color: #FFFFFF;
}

.testimonials-img {
	position: absolute;
	top: 0;
	z-index: 1;
	left: 0;
}
.testimonials-sub .p2,
.testimonials-sub .p1 {
	color: #fff ;
	margin: 0;
	margin-top: 5px;
}

.testimonials-sub .p2 {
	font-size: 10px;
}

.testimonials-sub .p1 {
	font-size: 15px;
}

.testimonials-sub .w-70-1 {
	width: 70%;
}

.testimonials-sub .w-20-1 {
	width: 20%;
}

.w-80 {
	width: 80%;
	margin: 0 auto;
	color: #fff;
}

.w-80 .w-70 {
	width: 70%;
}

.w-80 .w-30 {
	width: 30%;
}

.bg-black {
	background-color: #090808;
	float: left;
}

.bg-black h2 {
	font-size: 48px;
}

.slider {
	float: left;
	width: 100%;
}

.slider li {
	display: inline-block;
	padding: 10px 15px;
	width: 18.5%;
	background-color: #43330E;
	text-align: center;
	color: #fff;
	margin-right: 10px;
}

.slider li:last-child {
	margin-right: 0;
}